﻿<nav style="text-align: center; margin-top: 10px;">
	<span>Foram encontrados {{count}} registros. Mostrando registros de {{first}} até {{last}}.</span><br />
	<ul class="pagination pagination-sm" style="margin-top: 0px;">
		<li ng-class="{ disabled: ngModel.page == 1 }"><a ng-href="{{goToPage( ngModel.page - 1 )}}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
		<li ng-show="firstPage > 1"><a ng-href="{{goToPage( 1 )}}">1</a></li>
		<li ng-show="firstPage > 1" class="disabled"><a href="">...</a></li>
		<li ng-repeat="page in pages" ng-class="{ active: ngModel.page == page }"><a ng-href="{{goToPage( page )}}">{{page}}</a></li>
		<li ng-show="lastPage < pageCount" class="disabled"><a href="">...</a></li>
		<li ng-show="lastPage < pageCount"><a ng-href="{{goToPage( pageCount )}}">{{pageCount}}</a></li>
		<li ng-class="{ disabled: ngModel.page == pageCount }"><a ng-href="{{goToPage( ngModel.page + 1 )}}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
	</ul>
</nav>