﻿<div class="form-group" ng-class="{ 'has-error': field.$dirty && field.$invalid }">
	<label class="col-sm-3 control-label" for="{{for}}">
		{{label}}
		<strong title="Obrigatório" data-ng-show="required == 'true'">*</strong>
	</label>
	<div class="col-sm-9">
		<span ng-transclude></span>
        <span class="help-block" ng-show="field.$dirty && field.$invalid" ng-messages="field.$error" role="alert">
            <i class="fa fa-exclamation-circle"></i>

            <span ng-message="required">Obrigatório</span>
            <span ng-message="email">Inválido</span>
            <span ng-message="mask">Inválido</span>
            <span ng-message="cpf">Inválido</span>
            <span ng-message="compareTo">Senhas não conferem</span>
            <span ng-message="maxlength">Tamanho máximo do campo excedido.</span>
            <span ng-message="server">{{ field.$error.message }}</span>
        </span>
		<span class="help-block" data-ng-show="help" ng-repeat="h in helpList"><i class="fa fa-lightbulb-o"></i> {{h}}</span>
	</div>
</div>